<div id="containerPrincipal" *ngFor="let dataLaunion of launion">

  <div class="slider">

      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{dataLaunion.laUnion.img1}}" class="d-block w-100" alt="..." width="500px" height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{dataLaunion.laUnion.img2}}" class="d-block w-100" alt="..." width="500px" height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{dataLaunion.laUnion.img3}}" class="d-block w-100" alt="..." width="500px" height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      
  </div>

  <br>
  <br>
  <br>
  <br>

  <p class="uno">
      Datos del departamento de {{dataLaunion.laUnion.nombre}}.
  </p>

  <br>

  <p class="dos">

      ° Territorio: {{dataLaunion.laUnion.territorio}}.
      <br>
      ° fiestas: {{dataLaunion.laUnion.fiestas}}.
      <br>
      ° habitantes: {{dataLaunion.laUnion.habitantes}}.
      <br>
      ° alcalde: {{dataLaunion.laUnion.alcalde}}.

  </p>

  <br>

  <p class="uno">

    Datos históricos.
    
  </p>

  <p class="tres">

    <b>historia:</b> {{dataLaunion.laUnion.datoshistoricos.historia}}

    <br>
    <br>
    
  </p>

  <p class="uno">

    Municipios.
    
  </p>

  <p class="dos">

    <b>Municipios:</b> 
    {{dataLaunion.laUnion.municipios.municipio1}}, 
    {{dataLaunion.laUnion.municipios.municipio2}},
    {{dataLaunion.laUnion.municipios.municipio3}},
    {{dataLaunion.laUnion.municipios.municipio4}},
    {{dataLaunion.laUnion.municipios.municipio5}}.

    <br>
    <br>

  </p>

  <p class="uno">

    Centro turísticos.
    
    
  </p>

  <p class="dos">

    <b>El poblado de Intipuca:</b> {{dataLaunion.laUnion.cturisticos.playaIntipuca}}
    
    <br>
    <br>
    
    <b>El golfo de Fonseca:</b> {{dataLaunion.laUnion.cturisticos.golfoFonseca}}
    
    <br>
    <br>

  </p>

  <p class="uno">

    Lagos.
    
  </p>

  <p class="dos">

    <b>lago de Olomega:</b> {{dataLaunion.laUnion.lagos.lagoOlomega}}
    
    <br>
    <br>

  </p>

  <p class="uno">

    Ríos.
    
  </p>

  <p class="dos">

    <b>Río goascoran:</b> {{dataLaunion.laUnion.rios.rioGoascoran}}
    
    <br>
    <br>

  </p>

  <p class="uno">

    Volcanes.
    
  </p>

  <p class="dos">

    <b>El Volcan De Conchagua:</b> {{dataLaunion.laUnion.volcanes.volcanConchagua}}
    
    <br>
    <br>
    
  </p>

  <p class="uno">

    Personajes.
    
  </p>

  <p class="dos">

    <b>Juan Jose Guzman:</b> {{dataLaunion.laUnion.personajes.joseGuzman}}
    
    <br>
    <br>

    <b>Napoleon Viera Altamirano:</b> {{dataLaunion.laUnion.personajes.napoleonAltamirano}}
    <br>
    <br>
    <br>
    <br>

  </p>

</div>